<%-include("partials/header.ejs")%>

    <div class="container">
      <h1>Home</h1>
      <a class="btn btn-outline-dark " href="/signin">signin</a>
      <a class="btn btn-outline-dark " href="/signup">signup</a>
      
  </div>
  
    <%-include("partials/footer.ejs")%>